In [1]:
import torch

In [2]:
torch.cuda.is_available()

True

In [3]:
torch.cuda.current_device()

0

In [4]:
torch.cuda.get_device_name(0)

'NVIDIA GeForce GTX 1650'

In [5]:
torch.cuda.memory_allocated()

0

In [6]:
torch.cuda.memory_cached()

C:\Users\balde\anaconda3\envs\Cudatest\Lib\site-packages\torch\cuda\memory.py:444: FutureWarning: torch.cuda.memory_cached has been renamed to torch.cuda.memory_reserved
  warnings.warn(

0

In [7]:
a = torch.FloatTensor([1.0,2.0])
a

tensor([1., 2.])

In [8]:
a.device

device(type='cpu')

In [9]:
a = torch.FloatTensor([1.0,2.0]).cuda()

In [10]:
a.device

device(type='cuda', index=0)

In [11]:
torch.cuda.memory_allocated()

512

In [12]:
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
class Model(nn.Module):
    def __init__(self, in_features=4, h1=8, h2=9, out_features=3):
        super().__init__()
        self.fc1 = nn.Linear(in_features, h1)
        self.fc2 = nn.Linear(h1, h2)
        self.out = nn.Linear(h2, out_features)
    
    def forward(self, X):
        X = F.relu(self.fc1(X))
        X = F.relu(self.fc2(X))
        X = self.out(X)
        return X

In [39]:
torch.manual_seed(32)
model=Model()

In [40]:
next(model.parameters()).is_cuda

False

In [41]:
gpumodel = model.cuda()

In [42]:
next(gpumodel.parameters()).is_cuda

True

## GPU model for IRIS dataset

In [43]:
df = pd.read_csv('./iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [44]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df['variety'])
df['variety'] = le.transform(df['variety'])

In [45]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [46]:
X = df.drop('variety', axis=1).values
y = df['variety'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=33)

In [47]:
X_train = torch.FloatTensor(X_train).cuda()
X_test = torch.FloatTensor(X_test).cuda()
y_train = torch.LongTensor(y_train).cuda()
y_test = torch.LongTensor(y_test).cuda()

In [48]:
trainloader = DataLoader(X_train, batch_size=60, shuffle=True, pin_memory=True)
testloader = DataLoader(X_test, batch_size=60, shuffle=False, pin_memory=True)

In [49]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(gpumodel.parameters(), lr=0.01)

In [50]:
import time
start = time.time()
epochs=100
losses = []

for i in range(epochs):
    y_pred = gpumodel.forward(X_train)
    loss = criterion(y_pred, y_train)
    losses.append(loss.item())
    if i%10==0:
        print(f'Epoch: {i}, loss: {loss.item()}')
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

end = time.time()-start
print(f'TOTAL TIME: {end}')

Epoch: 0, loss: 1.1507450342178345
Epoch: 10, loss: 0.9371446371078491
Epoch: 20, loss: 0.7796242237091064
Epoch: 30, loss: 0.6078532934188843
Epoch: 40, loss: 0.39894524216651917
Epoch: 50, loss: 0.2524919807910919
Epoch: 60, loss: 0.14927688241004944
Epoch: 70, loss: 0.10029556602239609
Epoch: 80, loss: 0.08100692182779312
Epoch: 90, loss: 0.07216039299964905
TOTAL TIME: 0.2921156883239746